.cart-dropdown-menu{
    background-color: white;
    display: absolute;
    position: absolute;
    top: 0;
    right: 0;
    width: 20vw;
    height: 100vh;
    z-index: 2;
}

.cart-dropdown-button{
    z-index: 3;
}