p{

}

.p-light{
  color: white;
}

h1{

}

.h1-light{
  color:white;
}

h2{

}

.h2-light{
  color:white;
}

h3{

}

.h3-light{
  color:white;
}

h4{

}

h5{

}

h6{

}

button{
  background-color: white;
  border-radius: 0.5rem;
  border-style: none;

}

button:hover{
  background-color: rgb(255, 213, 213);
  border-radius: 0.5rem;
  border-style: none;

}

Main{
  margin-top: 3rem;
}

.border-bottom{
  border-bottom: 0.5px;
  border-color: rgba(0, 0, 0, 0.267);
  border-top: 0;
  border-left: 0ch;
  border-right: 0ch;
  border-style: solid;
}