body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  background-image: linear-gradient(rgb(243, 243, 243), rgb(255, 255, 255));
  overflow: hidden;
}

.darken-bg{
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.794);
  display: absolute;
  position: fixed;
  top: 0;
  z-index: 3;
}

.text-accent {
  color:rgb(238, 141, 141);
}

h4{
  text-decoration: none;
  text-decoration-line: none;
  color: black;
}