.header-dropdown-container{
    position: fixed;
    display: flex;
    flex-direction: row;
    top:0;
    right: 0;
    width: 20vw;
    max-width: 400px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: 6;
    animation: slideopen 0.5s;
    color: black !important;
}


.header-dropdown-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    z-index: 10;
    margin: 1%;
    padding: 2%;
}

.header-dropdown-span{
    height: 100% !important;
    display: flex;
    flex-direction: column;
}

.fa-bags-shopping-thin{
    height: 100%;
    width: 100% !important;
}

.header-dropdown-button{
    height: 3rem;
    width: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor:pointer;
}

.header-dropdown-button:hover{
    height: 3rem;
    width: 7rem;
    display: flex;
    flex-direction:row;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.47) !important;
    cursor:pointer;
    border: none;
}

.header-dropdown-span:hover svg path{
    stroke-width: 1rem !important;
    cursor:pointer;
}

.header-dropdown-button-open{
    color: rgb(255, 255, 255);
    background:rgb(35, 35, 35);
    height: 50%;
    width: 30%;
    border-radius: 0;
}
.header-dropdown-button-open:hover{
    color: rgb(255, 255, 255);
    background:rgb(35, 35, 35);
    height: 50%;
    width: 30%;
    border-radius: 0;
    cursor:pointer;
}

.header-dropdown-container-mobile{
    display: absolute;
    position: fixed;
    flex-direction: row;
    top:0;
    right: 0;
    width: 90vw;
    max-width: 400px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: 10;
}

.header-dropdown-button-open-mobile{
    width: 100%;
    height: 5rem;
    color: white;
    background-color: rgb(0, 0, 0);
}

.header-dropdown-button-open-mobile:hover{
    width: 100%;
    height: 5rem;
    color: white;
    background-color: rgb(0, 0, 0);
}

@keyframes slideopen {
    from {
        width: 0vw !important;
        opacity: 0%;
    }
    to {
        width: 20vw !important;
        opacity: 100%;
    }
}