.nav-links{
    margin: 2rem;
    color: rgb(255, 255, 255);
    font-size: 2vh;
    font-weight: 400;
    font-family: 'Arial Narrow', Arial, sans-serif;
    text-decoration-line: none;
}

.nav-links:hover{
    margin: 2rem;
    color: rgb(255, 149, 149);
    cursor: pointer;
    -webkit-animation: navLinks 1s;
    animation: navLinks 0.5s;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    padding: 0 0 10px 0;
}

@keyframes navLinks {
    from{
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
    }
    to{
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
    }
}