.footer-main{
    width: inherit;
    height: 5rem;
    color: rgb(186, 186, 186);
    border-top: 0.5px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-style: solid;
    border-color:rgba(0, 0, 0, 0.301);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem 0 1rem;
    position: relative;
    bottom: 0;
    z-index: 3;
}

.footer-text-container{
    width: inherit;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.text-link{
    padding: 0 0.3rem 0 0.3rem;
    text-decoration-line:none;
    color:rgb(147, 147, 147);
}

.text-link:hover{
    padding: 0 0.3rem 0 0.3rem;
    text-decoration-line:underline;
    color:rgb(0, 0, 0);
}

.footer-h2{
    margin: 0 0rem 0rem 0;
}

.footer-links-container{
    display: flex;
    flex-direction: row;   
}

.footer-svg-link{
    padding: 0 0.3rem 0 0.3rem;
    text-decoration-line:none;
    color:black;
}