.main-cards-container{
    width: 100%;
    height: 25rem;
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
}

.cards-container{
    width: 100%;
    margin: 0 0 3rem 0;
}

#main-card{
    min-width: 30rem;
    height: 18rem;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}

#main-card h3 {
    z-index: 5;
}
#main-card p {
    z-index: 5;
}
#main-card h2 {
    z-index: 5;
}

#main-card-hover h3 {
    z-index: 5;
}
#main-card-hover p {
    z-index: 5;
}
#main-card-hover h2 {
    z-index: 5;
}


#main-card-hover{
    min-width: 30rem;
    height: 18rem;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 10;
}

div .cardImage {
    background-color: aliceblue;
    z-index: 100;
}

@keyframes cardHover {
    from{
        width: 30rem;
        height: 20rem;
        margin: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    to{
        width: 30rem;
        height: 20rem;
        margin: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}