.event-header-container{
    height: 2rem;
    width: 100%;
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-width: 0.1rem;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.171);
    margin: 0;
    top: 3.8rem;
    border-top: 0.5px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.253);

}