.product-image{
    width: 100%;
    height: 80%;
}

.main-shopitem-container .image {
    width: 60vw !important;
}

.main-shopitem-container .image img {
    object-fit: cover;
}
.sr-main{
    border-top: 1px solid black; 
    width: 90%;
    margin: 0 5%;
}

.main-shopitem-container{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    width: 70vw;
    height: 30rem;
    margin: 5rem auto;
}

.main-shopitem-text-container{
    width: 50vw;
    height: 100%;
    margin: 5%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
}

.description-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
}

.main-logic-container{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}