    .cart-notifier{
        height: 20px;
        width: 20px;
        display: absolute;
        position: fixed;
        z-index: 2;
        background-color: rgb(255, 104, 104);
        border-radius: 25px;
        right: 10px;
        animation: inflate-deflate 0.2s;
    }
    
    @keyframes inflate-deflate {
        from {
            height: 20px;
            width: 20px;
        }
        to{
            height:30px;
            width:30px;
            transform: translateX(10px)
        }
    }
    .mobile-header-links{
        display: none;
    }

    .mobile-dropdown-button{
        display: none;
    }
    
.header-link{
    color: black;
    text-decoration: none;
}

header{
    top: 0;
    min-height: 60px;
    width: inherit;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 0% 2vw 0% 2vw; */
    position:fixed;
    z-index: 5;
}
    
    .header-logo{
        display: block;
        position: relative;
        width: 50px;
        height: 50px;
        background-position: center;
        background-repeat: none; 
    }

    .desktop-header-links{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;
        display: flex;
        width: 70%;
    }

    .smallHeader{
        height: 10px;
        width: 100%;
        display: absolute;
    }
